a {
  text-decoration: none;
  color: #1b1b1b;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

h1:before,
h1:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

h1:before {
  left: 0;
}
h1:after {
  right: 0;
}

/* ============================
 body
============================== */
body {
  width: 1200px;
  margin: 0 auto;
  background-color: #e9e9e9;
  font-family: Gill Sans;
  color: #1b1b1b;
  letter-spacing: 3px;
}

/* ============================
 header
============================== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

header .header-title {
  font-size: 30px;
  font-weight: lighter;
}

header nav ul {
  display: flex;
}

header nav li {
  padding: 4px;
  margin-left: 10px;
}

header nav li:hover {
  background-color: #fff;
}

/* ============================
 first-view
============================== */
.first-view {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
}

.first-view img {
  width: 100%;
  height: 100%;
}

/* ============================
 main
============================== */
main {
  width: 95%;
  margin: 50px auto;
}

section {
  width: 100%;
  margin-bottom: 100px;
}

.section-title h1 {
  font-size: 50px;
  font-weight: lighter;
}

.service-contents {
  display: flex;
  justify-content: space-between;
}

.service-item {
  width: 30%;
  text-align: center;
  padding: 3px 15px;
  box-shadow: 0 2px 5px #ccc;
}

.service-item-title {
  font-size: 35px;
  font-weight: lighter;
}

.service-item-subtitle {
  font-size: 25px;
  font-weight: lighter;
}

.service-item-img {
  margin: 50px 0px;
}

.service-item-img img {
  width: 50%;
}

.works-contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.works-item {
  width: 30%;
  margin-bottom: 50px;
}

.works-item img {
  width: 100%;
}

.works-item img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.work-view-more {
  margin: 0 auto;
  letter-spacing: 6px;
  padding: 5px;
  border-bottom: solid 1px #1b1b1b;
}

.work-view-more:hover {
  background-color: #bebebe;
}

.career-contents {
  margin: 100px 0 0 20px;
}

.career-contents p {
  margin-bottom: 30px;
}

form {
  margin-left: 30px;
}

form ul li {
  margin-bottom: 10px;
}

form ul li input {
  padding: 10px;
  width: 250px;
  font-size: 16px;
}

form ul li textarea {
  padding: 10px;
  width: 400px;
  font-size: 16px;
}

form button {
  padding: 15px 50px;
  font-size: 20px;
  color: #ffffff;
  background-color: rgb(129, 129, 129);
  border: none;
  outline: none;
}

form button:hover {
  cursor: pointer;
  background-color: rgb(90, 90, 90);
}

/* ============================
 footer
============================== */
footer {
  width: 100%;
}

.footer-top {
  border-bottom: solid 2px #9c9a9a;
}

.footer-top nav ul {
  display: flex;
}

.footer-top nav ul li {
  margin-left: 30px;
}

.footer-bottom p {
  text-align: right;
  padding-right: 20px;
  margin-bottom: 20px;
}
